<!--<h1> Your name is: <%= @name %></h1>
<h1> The day your were born is: <%= @day %>
<h1> The month your were born is: <%= @month %> -->
<br>
<% if $birthday2 == 365 %>  
<h1>Happy Birthday <%= @name %>!!!! </h1>
<% else %>
<br>
<h1> Nice to meet you <%= @name %>. It's <%= $birthday2 %> days untill your Birthday! </h1>
<% end %>




